*{
  margin: 0;
  padding: 0;
}
html,body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#Jgame{
  position: relative;
}

#Jgame.ani::before{
  animation: up .8s linear infinite;
}
#Jgame::before{
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 750px;
  height: 2808px;
  z-index: 1;
  background: url(./images/bgp.jpg) repeat-y center top ;
  background-size: 750px 702px;
}
#Jgame.ani-paused::before{
  animation-play-state:paused;
}

.can{
  margin: 0 auto;
  display: block;
  position: relative;
  z-index: 5;
}

@keyframes up{
  0% {
    bottom:0
  }

  100% {
    bottom:-702px
  }
}

.score-wrap{
  /* width: 100px; */
  height: 40px;
  line-height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 28px;
  color: #333;
}

.mouse-wrap{
  position: absolute;
}
.mouse{
  /* background-color: rgba(0,0,0,0.2); */
}

.btn-wrap{
  z-index: 10;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px;
}

.btn-start {
  width: 120px;
  height: 60px;
  line-height: 60px;
  background: #7EC0EE;
  border: 2px solid #8A2BE2;
  font-size: 24px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 2px 2px #8A2BE2;
  display: block;
}
